.active {
  background-color: #ffd5d5;
  font-weight: bold;
}
.switch {
	background-color: lightsteelblue
}
.selection {
	border-style: groove;
	border-color: blueviolet;
	padding: 5px 5px 5px 5px;
}
